@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.steps-wrapper {
    width: 920px;
    margin: 0 auto;
    display: block;
}

.step-item {
    background-color: #eee;
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.step-active {
    background: #FF6200;
    padding: 20px 50px;
    color: white;
}

.step-container {
    width: 100%;
    padding: 100px 0;
}