@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body, input {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 900;
    background: #eee;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.btn-primary {
    background: #FF6200;
    color: white;
}

.btn-disabled {
    opacity: 0.5;
    background: #eee;
    color: black;
}

.btn-delete {
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid #ccc;
}

/* ================ STEPS ================== */

.steps-wrapper {
    width: 920px;
    margin: 0 auto;
    display: block;
}

.step-item {
    background-color: #eee;
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

.step-active {
    background: #FF6200;
    padding: 20px 50px;
    color: white;
}

.step-container {
    width: 100%;
    padding: 100px 0;
}

.input-stepper-wrapper {
    float: right;
    margin-top: -40px;
}

/* ================ BASKET ================== */

.basket-item {
    border: 1px solid #eee;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-bottom: 2px solid #FF6200;
}

.basket-item span {
    font-size: 17px;
    font-weight: bold;
}

.basket-item small {
    width: 50%;
    padding: 10px 0;
    display: block;
    opacity: 0.7;
}

/* ================== DELIVERY ================== */

.delivery-wrapper form{
    display: block;
    width: 100%;
    padding: 25px 0;
    flex-wrap: wrap;
}

.delivery-wrapper  input {
    padding: 8px 15px;
    font-size: 14px;
    border:1px solid #ccc;
    margin: 5px 20px 5px 0;
}


.delivery-wrapper footer {
    width: 100%;
    margin-top: 25px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: block;
    float: left;
}

.delivery-wrapper footer button:first-child {
    float: left;
}

.delivery-wrapper footer button:last-child {
    float: right;
}

/* ================ PAYMENT ================= */

.payment-option {
    cursor: pointer;
    border: 1px solid #eee;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-bottom: 2px solid #ddd;
}

.payment-active {
    border: 2px solid green;
}